POSTGRES_DB=zpantry
POSTGRES_USER=zpantry
POSTGRES_PASSWORD=change-me

ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=zpantry;Username=zpantry;Password=change-me
AI_SERVICE_URL=http://host.docker.internal:8000

Jwt__Issuer=ZPantry
Jwt__Audience=ZPantryClient
Jwt__SecretKey=change-me
Jwt__AccessTokenMinutes=60
Jwt__RefreshTokenDays=7

BootstrapAdmin__Email=
BootstrapAdmin__Password=
BootstrapAdmin__FullName=Admin

